  .display {
    width: 80%;
    height: 80%;
    background: radial-gradient(#21D3D4, transparent);
    position: absolute;
    z-index: 10;
    top: 10%;
    left: 10%;
    display: flex;
    opacity: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: zoom 0.5s ease;
  }

  .display button {
    padding: 20px 30px;
    font-size: 25px;
    color: black;
    background: white;
    border: 5px solid black;
    transition: all 0.5s ease;
  }

  .display button:hover {
    color: white;
    background: black;
    transition: all 0.5s ease;
  }

  @keyframes zoom {
    from {transform: scale(0, 0);}
    to {transform: scale(1, 1);}
  }
