.wrapper {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.highlight {
    background: orange;
}

.button {
    height: max-content;
    width: 200px;
    padding: 10px 10px;
    background: linear-gradient(to right, #3B038C, #B18EE3);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button:hover {
    background: #B18EE3;
}
