.body {
    margin-top: 40px;
    column-gap: 40px;
    display: grid;
    grid-template-columns: minmax(160px, 200px) 1fr minmax(160px, 200px);
  }
  
  .bodyLeft {
    height: 100%;
    width: 100%;
    margin-left: 20px;
  }
  
  .sideTabs {
    width: max-content;
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 30px;
    grid-auto-columns: 50px;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  
  .activeUsers {
    color: green;
  }
  
  .sideTabs > * {
    display: grid;
    place-items: center;
    background: rgb(var(--darkBlue));
  }
  
  .sideList {
    display: grid;
    grid-auto-rows: 40px;
  }
  
  .sideList > * {
    padding: 6px 8px;
    display: grid;
    align-items: center;
    background: rgb(var(--darkBlue))
  }
  
  .bodyMid {
    display: flex;
    justify-content: center;
  }
  
  .bodyMid > div {
    display: grid;
    row-gap: 20px;
    max-width: 360px;
    width: 100%;
  }
  
  .bodyRight {
    margin-right: 20px;
  }