.body {
    margin-top: 40px;
    column-gap: 40px;
    display: grid;
    grid-template-columns: minmax(160px, 200px) 1fr minmax(160px, 200px);
  }
  
  .bodyLeft {
    height: 100%;
    width: 100%;
    margin-left: 20px;
  }
  
  .bodyMid {
    display: flex;
    justify-content: center;
  }
  
  .bodyMid > div {
    display: grid;
    row-gap: 20px;
    max-width: 360px;
    width: 100%;
  }
  
  .bodyRight {
    margin-right: 20px;
  }

  @media screen and (max-width: 799px) {
    .body {
      grid-template-columns: 1fr;
    }
    .bodyLeft, .bodyRight {
      display: none;
    }
  }