.container {
    flex: 1;
    width:100%;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 20px;
}

.header {
    padding: 0px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header button {
    background: rgb(var(--darkBlue));
    font-size: 15px;
    padding: 6px 12px;
    border-radius: var(--radius);
    cursor: pointer;
}

.header button i {
    margin-right: 8px;
}

.header button:hover {
    opacity: 0.85;
}

.header button:active {
    margin: 1px;
    padding: 5px 11px;
}

.headerLeft {
    justify-self: left;
}

.headerRight {
    justify-self: flex-end;
}

.body {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    padding: 20px;
}

.bodyLeft {
    height: max-content;
    align-self: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto;
    gap: 80px 40px;
    align-items: center;
}

.versus {
    font-size: 40px;
    font-weight: 700;
    place-self: center;
}

.startBtn {
    justify-self: center;
    grid-column: span 3;
}

.startBtn button {
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 500;
    border-radius: var(--radius);
    color: rgb(var(--black));
    background: rgb(var(--yellow));
    cursor: pointer;
}

.startBtn button:hover {
    opacity: 0.9;
}

.startBtn button:active {
    padding: 9px 29px;
    margin: 1px;
}



.bodyRight {
    height:100%;
    display: grid;
    justify-self: flex-end;
    max-width: 360px;
    width: 100%;
}

.bodyRight > * {
    border-radius: var(--radius);
    background: rgb(var(--darkBlue));
    padding: 12px;
    height: max-content;
}

.widgetTitle {
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(var(--white), 0.3);
}

.invite .textBox {
    padding: 3px;
    display: flex;
    place-items: center;
    font-size: 15px;
    border-radius: var(--radius);
    background: rgb(var(--blue2));
}

.invite .textBox .left {
    flex: 1;
    margin-left: 12px;
    margin-right: 24px;
}

.invite .textBox button {
    padding: 10px 18px;
    border-radius: var(--radius);
    background: rgb(var(--purple));
    cursor: pointer;
}

.invite .textBox button:hover {
    opacity: 0.85;
}

.invite .textBox button:active {
    padding: 9px 17px;
    margin: 1px;
}

.widgetDescription {
    font-size: 14px;
    margin-top: 12px;
}