.gameCover {
    padding: 8px;
    position: relative;
    border-top: 10px solid;
    width: 86%;
    justify-self: center;
    height: 330px;
    background: rgb(var(--lightGrey));
    border-radius: var(--radius);
    display: grid;
    place-items: center;
    z-index: 2;
    transition: all 0.5s linear;
  }
.gameCover:hover {
  transform: scale(1.5, 1.5);
  top: calc(50% - 165px);
  transition: all 0.5s linear;
}

.hide {
  width: 0px;
  height: 0px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  opacity: 0.5;
  transition: all 0.2s linear;
}

.gameCover:hover + .hide {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: black;
  transition: all 0.2s linear;
}


  .coverDisplay {
    font-size: 60px;
  }

  .coverTitle {
    font-size: 24px;
    font-weight: 800;
  }

  .coverDescription {
    text-align: center;
  }

  .gameNav {
    --size: 50px;
    border-radius: 50%;
    color: rgb(var(--white));
    font-size: 20px;
    background: rgb(var(--lightBlue));
    border: 1px solid rgb(var(--grey));
    position: absolute;
    display: grid;
    place-items: center;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    border-radius: 50%;
  }

  .gameNav:hover {
    opacity: 0.9;
  }

  .gameNav:active {
    --size: 48px;
  }

  .gameNav.left {
    left: calc(-1 * (var(--size) / 2));
  }

  .gameNav.right {
    right: calc(-1 * (var(--size) / 2));
  }

  .gameNav:active {
    background: green;
  }

  .gameStartBtn {
    background: rgb(var(--yellow));
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: var(--boxShadow);
  }

  .gameStartBtn:hover {
    background: rgb(242, 180, 60);
  }

  .gameStartBtn:active {
    padding: 9px 19px;
    margin: 1px;
  }
