.content {
  border-radius: var(--radius);
  width: 100vw;
  height: 100vh;
  position: relative;
  animation: appear 1s ease;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: rgb(var(--darkBlue));
}

.headerLeft {
  padding: 20px;
  justify-self: left;
}

.headerMid {
  width: 125%;
  justify-self: center;
  position: relative;
  padding: 8px;
}

.headerMid > div {
  height: 100%;
  padding: 4px;
  font-size: 14px;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  box-shadow: var(--boxShadow);
  height: 100%;
  background: rgb(var(--blue2));
  width: 100%;
  text-align: center;
}

.headerMid > div > span {
  display: block;
}

.user {
  --bg: rgba(var(--blue2));
  font-size: 14px;
  background: var(--bg);
  padding: 4px 10px;
  border: 1px solid var(--bg);
  border-radius: 40px;
  cursor: pointer;
}

.user:active {
  margin: 1px;
  border: 0px;
}

.headerRight {
  padding: 20px;
  justify-self: right;
}

.headerRight > * {
  font-weight: 600;
  padding: 4px 10px;
  font-size: 14px;
  background: rgb(var(--blue2));
  border-radius: var(--radius);
  user-select: none;
}

.headerRight > *:not(:first-child) {
  margin-left: 20px;
}

.headerRight i {
  margin-right: 2px;
}

.coins i {
  color: rgb(var(--yellow));
}

.medals i {
  color: rgb(var(--yellow));
}

.body {
  margin-top: 40px;
  column-gap: 40px;
  display: grid;
  grid-template-columns: minmax(160px, 200px) 1fr minmax(160px, 200px);
}

.bodyLeft {
  height: 100%;
  width: 100%;
  margin-left: 20px;
}

.sideTabs {
  width: max-content;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 30px;
  grid-auto-columns: 50px;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.activeUsers {
  color: green;
}

.sideTabs > * {
  display: grid;
  place-items: center;
  background: rgb(var(--darkBlue));
}

.sideList {
  display: grid;
  grid-auto-rows: 40px;
}

.sideList > * {
  padding: 6px 8px;
  display: grid;
  align-items: center;
  background: rgb(var(--darkBlue))
}

.bodyMid {
  display: flex;
  justify-content: center;
}

.bodyMid > div {
  display: grid;
  row-gap: 20px;
  max-width: 360px;
  width: 100%;
}

.bodyRight {
  margin-right: 20px;
}

.content h1 {
  margin-top: 120px;
  text-align: center;
  font-size: 50px;
}

.join {
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
}

.join button {
  width: 300px;
  height: 100px;
  border: 5px solid black;
  background: lightblue;
  font-size: 35px;
  font-weight: bold;
}

.join button:hover {
  background: black;
  color: white;
}

@keyframes appear {
  from {
    transform: translateX(-1000px) scale(0, 0);
  }
  to {
    transform: translateX(0px) scale(1, 1);
  }
}
