.content {
  flex-direction: column;
  display: flex;
  border-radius: var(--radius);
  width: 100vw;
  flex: 1;
  position: relative;
  animation: appear 1s ease;
}

.menu {
  width: 60px;
  height: 60px;
  background: none;
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}

.menu:hover {
  background: rgba(200,200,200, 0.6);
}

.menubar {
  width: 150px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #202845;
  border-top-right-radius: 50px;
}

.button {
  width: 150px;
  height: 40px;
  margin-top: 80px;
  font-size: 15px;
  background: none;
  font-weight: bold;
}

.button:hover {
  background: #354273;
}

@keyframes appear {
  from {
    transform: translateX(-1000px) scale(0, 0);
  }
  to {
    transform: translateX(0px) scale(1, 1);
  }
}

@media screen and (max-width: 800px) {
  .menu {
    top: 20px;
  }
  .menubar {
    width: 100px;
    top: 20px;
  }
  .button {
    width: 100px;
  }
}
