.content {
  flex-direction: column;
  display: flex;
  border-radius: var(--radius);
  width: 100vw;
  flex: 1;
  position: relative;
  animation: appear 1s ease;
}

@keyframes appear {
  from {
    transform: translateX(-1000px) scale(0, 0);
  }
  to {
    transform: translateX(0px) scale(1, 1);
  }
}
