.bodyRight {
    height:100%;
    display: grid;
    justify-self: flex-end;
    max-width: 360px;
    width: 100%;
}

.bodyRight > * {
    border-radius: var(--radius);
    background: rgb(var(--darkBlue));
    padding: 12px;
    height: max-content;
}

.widgetTitle {
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(var(--white), 0.3);
}

.invite .textBox {
    padding: 3px;
    display: flex;
    place-items: center;
    font-size: 15px;
    border-radius: var(--radius);
    background: rgb(var(--blue2));
}

.invite .textBox .left {
    flex: 1;
    margin-left: 12px;
    margin-right: 24px;
}

.invite .textBox button {
    padding: 10px 18px;
    border-radius: var(--radius);
    background: rgb(var(--purple));
    cursor: pointer;
}

.invite .textBox button:hover {
    opacity: 0.85;
}

.invite .textBox button:active {
    padding: 9px 17px;
    margin: 1px;
}

.widgetDescription {
    font-size: 14px;
    margin-top: 12px;
}

@media screen and (max-width: 799px) {
    .bodyRight {
        display: grid;
        align-items: center;
        max-width: 100%;
    }
}