.gameContainer {
  border-radius: var(--radius);
  overflow: hidden;
  min-height: 100%;
  max-height: 1px;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 20px;
  gap: 20px;
  padding-top: 0px;
  animation: zoom 0.5s ease;
}

.grid {
  overflow: scroll;
  max-height: 100%;
  scrollbar-width: none;
  border-radius: var(--radius);
}

.grid::-webkit-scrollbar {
  display: none;
}

.box {
  --column: 15;
  background-color: rgb(var(--white));
  display: grid;
  grid-template-columns: repeat(var(--column), 50px);
  grid-auto-rows: 50px;
  background-image: repeating-linear-gradient(to right, black, transparent 1px 50px), repeating-linear-gradient(to bottom, black, transparent 1px 50px);
  width: max-content;
  height: max-content;
  font-size: 22px;
  font-weight: 700;
  color: black;
  text-transform: capitalize;
}

.box > div {
  place-items: center;
  width: 100%;
  height: 100%;
  display: grid;
  transition: 0.5s;
}

/* .box > div:hover {
  background: rgba(var(--black), 0.2);
} */

.hint {
  background: #73FF38;
}

.lastmove {
  background: orange;
}

.sideway {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding-top: 200px;
}

.sidebar {
  max-width: 330px;
  min-width: 330px;
  padding: 10px;
}

.sidebar > div {
  background: rgb(var(--lightGrey));
  border-radius: var(--radius);
  width: 100%;
  height: 100%;

}

.button {
  height: max-content;
  width: 200px;
  padding: 10px 10px;
  background: orange;
  justify-self: center;
}

.button:hover {
  background: #FFB638;
}

.clear {
  padding: 20px 20px;
  position: absolute;
  top: 100px;
  left: 10px;
  z-index: 5;
}

.display {
  width: 80%;
  height: 80%;
  background: rgb(18, 227, 255);
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 10%;
  display: flex;
  opacity: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: zoom 0.5s ease;
}

.display button {
  padding: 20px 30px;
  font-size: 25px;
  color: black;
  background: white;
  border: 5px solid black;
  transition: all 0.5s ease;
}

.display button:hover {
  color: white;
  background: black;
  transition: all 0.5s ease;
}

@keyframes zoom {
  from {transform: scale(0, 0);}
  to {transform: scale(1, 1);}
}

@media screen and (max-width: 799px){
  .gameContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px;
  }
  .sidebar {
    --width: calc(100% + 40px);
    padding: 0px;
    margin: -20px;
    margin-top: 0px;
    width: var(--width);
    min-width: var(--width);
    max-width: var(--width);
  }

  .sidebar > div {
    height: max-content;
    overflow-y: hidden;
    overflow-x: scroll;
  }
}
